/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Application CSS */
.page-header {
    padding-bottom: 50px;
}
.erase-true {
  text-decoration: line-through;
  color: red;
}
.table td, .table th {
  text-align: center;
}